/* basic(基本设置) */
* {
    padding: 0px;
    margin: 0px;
}
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: var(--fileBarBackground);
}
.bg {
    width: 100%;
    height: 100%;
    /* border: 2px solid #ae00e6; */
    position: fixed;
}
.n_sidebar {
    background-color: #4e4e5f;
}
.n_topbar_area {
    background-color: #32323a;
}
.n_topbar {
    background-color: #1f1e25;
}

.n_bottombar {
    background-color: #3072d6;
    height: 25px;
    font-size: small;
    color: #ffffff;
    line-height: 25px;
    padding: 0px 5px;
}
.n_left_iconbar {
    height: 100%;
    width: 50px;
    background-color: #22222f;
}
.n_left_iconbar div {
    height: 50px;
    width: 50px;
    margin: 0px auto;
    background-size: 40px 40px;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition: all 0.3s;
}
.n_left_iconbar div :hover {
    background-color: #ffffff10;
}
.n_left_iconbar .server {
    background-image: url(../image/server.svg);
}
.n_left_iconbar .workspaces {
    background-image: url(../image/workspaces.svg);
}
.n_left_iconbar .users {
    background-image: url(../image/users.svg);
}
