/* basic(基本设置) */
* {
    padding: 0px;
    margin: 0px;
}
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: var(--fileBarBackground);
}
.bg {
    width: 100%;
    height: 100%;
    /* border: 2px solid #ae00e6; */
    position: fixed;
}
.n_sidebar{
    background-color: #6d9ab8;
}
.n_topbar{
    background-color: #6db87a;
}
.n_bottombar{
    background-color: #8a88ee;
}